*{
    margin: 0;
    padding: 0;
}

.navigation{
    display: flex;
    height: 90px;
    background: rgb(3, 59, 82);
    justify-content: space-between;
    
    
}

 .slogan{
    font-size: 20px;
    padding: 40px 750px 0 0; 
    float: left;
}
.flex1 ul {

    list-style: none;
    display: flex;
    font-size: 25px;
    
    
}
.flex1 ul li{
    margin: 8px;
    text-decoration: none;
    
}
#logo{
    font-size: 40px;
    font-family: cursive;
    font-weight: bold;
    color: aliceblue;
    
}
.flex1 ul a:hover{
    color: chartreuse;
    text-decoration: none;
    background-color: blue;
    

}

.flex1 ul a{
    color: rgb(249, 246, 250);
    text-decoration: none;
    background-color: rgb(3, 51, 51);
    justify-content: end;
    
}
.flex1 ul li{
    margin: 8px;
    text-decoration: none;
    
}
.header1{
    color: aliceblue;
    background-image: url(./img6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
    float: left;
    /* position: absolute; */
    /* opacity: 0.4; */
    
    
}


.div_1{
    width: 30%;
    height: 100%;
    float: left;
}
.div_2{
    text-align: center;
    padding-top: 150px;
    width: 40%;
    height: 100%;
    float: left;
}
.div_3{
    width: 30%;
    height: 100%;
    float: left;
}


.div_2 h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 1cm;
}

.para{
    font-size: 35px;
    text-align: center;
    margin-bottom: 1cm;
}

.button1{
    text-align: center;
    
}

.button1 button{
    cursor: pointer;
    border: solid white;
}
#btn1{
background-color: rgb(12, 141, 34);
height: 1.8cm;
padding: .2cm;
font-size: 20px;
font-weight: 600;
color: rgb(88, 3, 3);
}
#btn2{
    background-color: rgb(189, 209, 8);
    height: 1.8cm;
    margin-left: 1cm;
    padding: .2cm;
    font-size: 20px;
    font-weight: 600;
    color: rgb(88, 3, 3);
}
.cards{
    width: 100%;
    height: 600px;
    padding: 20px;
    box-sizing: border-box;
    float: left;
}
  .card{
    
    height: 400px;
    width: 33.33%;
    padding: 40px;
    box-sizing: border-box;
     float: left;
  }
  .c2{
    width: 30%;
    height: 100px;
    float: left;
  }
.contain{
    width: 70%;
    float: left;
}
 .p1{
    font-size: 30px;
    font-weight: bold;
    
 }   
.p2{
    font-size: 25px;
    
} 


.btm2{
    padding: 20px 50px 20px 50px;
    display: flex;
    
    justify-content: space-between;
    font-weight: 200;
    font-size: x-large;
    /* height: 400px; */
    /* width: 1000px; */
    
    
}
.btm2 img{
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 70%;
}
.cimg1{
    display: flex;
    margin: 20px;
    padding-left: 20px;
    justify-content: space-evenly;
    
    text-indent: 30px;
    flex: 0 0 500px;
    
}
.btm2 p{
    font-size: 30px;
}

.btm_msg{
    padding: 20px 10px;
}
/* .bimg1{
    border:  2mm solid black;
    width: 300px;
}
.bimg2{
    border: 2mm  solid black;
    width: 300px;
}
.bimg3{
    border: 2mm  solid black;
    width: 300px;
} */
/* .footer{
    height: 250px;
    
    background-color: rgb(109, 141, 160);
} */






.footer {
    padding: 36px 0;
    background: rgb(60, 71, 90);
    height: 350px;
    color: azure;
    
}

.footer-nav {
    display: flex;
}

.footer-nav .column {
    width: 200px;
}

.footer-nav .title {
    font-size: 30px;
    margin: 0 0 15px;
}

.footer-nav ul {
    font-size: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-nav ul li {
    margin-bottom: 7px;
}

.footer-nav a {
    color: var(--gray-200);
}

.fr{
width: 50%;
    
    float: right;
    justify-content: end;
}

.fr span{
    padding: 0px 15px 10px ;
  }
  .fr h3{
    text-align: right;
  }
  .fr h4{
    font-weight:bold;
     text-align:right;
     margin-top: 100px;
  }
  #feature{
    font-size: 35px;
  }
  .spn1{
    font-weight: 700;
    font-size:40px;
    font-family: cursive;

  }
  .spn2{
    font-weight: 900;
    font-size: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }

  .spn3{
    font-size: 60px;
    font-size: 60px;
    font-family: monospace;
    
  }
  .spn4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 50px;
    font-style: italic;
  }

  @media  screen and (max-width: 1020px)
  {
    .navigation{
        background:rgb(197, 33, 202);
    }

  }
  @media  screen and (max-width: 810px)
  {
    .navigation{
        background:rgb(22, 172, 97);
        display: flex;
        flex-wrap: wrap;
    }
    #logo p{
        font-size: 20px;
        padding-left: 1px;
    }

  }


  @media  screen and (max-width: 510px){
    
 .slogan{
    font-size: 20px;
    background-color: aqua;
    float: left;
}
.navigation p{
    display: none;
}
.flex1 ul li{
    margin: 13px;
    text-decoration: none;
    
}
.div_1{
    width: 20%;
    height: 100%;
    float: left;
}
.div_2{
    text-align: center;
    /* padding-top: 150px; */
    width: 60%;
    height: 100%;
    float: left;
}
.div_3{
    width: 20%;
    height: 100%;
    float: left;
}

.div_2 h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 1cm;
}
.div_2 .para{
    font-size: 20px;
    text-align: center;
    margin-bottom: 1cm;
}
#btn1{
    background-color: rgb(46, 12, 141);
    height: 1.8cm;
    font-size: 20px;
    font-weight: 600;
    color: rgb(88, 3, 3);
    }
    #btn2{
        background-color: rgb(189, 209, 8);
        height: 1.8cm;    
        font-size: 20px;
        font-weight: 600;
        color: rgb(88, 3, 3);
    }
  }